<%- include('../partials/header') %>

<h1 id="new-case">New Case</h1>
<form id="new-form" action="/cases" method="POST">
    <label>Subject:</label>
    <input type="text" name="subject">
    <label>Comment:</label>
    <textarea name="comment"></textarea>
    <div id="new-case-bottom">
      <label>High Priority:</label>
      <input id="checkbox" type="checkbox" name="priority" unchecked>
      <input id="submit-case" type="submit" value="Submit Case">
    </div>
  </form>

<%- include('../partials/footer') %>